// Contains colors and gradient definitions. 

@import "./warm.scss";

// NAVBAR

%navbar-gradient {
	background: #00167a; 									// For browsers that do not support gradients.
	background: -webkit-linear-gradient(#003180, #00167a); 	// For Safari 5.1 to 6.0.
	background: -o-linear-gradient(#003180, #00167a);		// For Opera 11.1 to 12.0.
	background: -moz-linear-gradient(#003180, #00167a); 	// For Firefox 3.6 to 15.
	background: linear-gradient(#003180, #00167a);			// Standard syntax.
}

$navbar-text-color: black;
$navbar-text-hover-color: white;
$navbar-hover-color: #0044b3;

$login-button-color: #0044b3;
$login-button-hover-color: #EAAA00;

$search-box-text-color: white;
$search-box-bg-color: #C8C8FF;
$search-box-bg-focus-color: white;

$login-dropdown-color: #f9f9f9;


// TEXT
$text-default: black;
$link-default: blue;
$link-hover: red;

$text-light: #aaa;


// CONTENT

$content-bg-color: #fefefe;

$content-border-color: #2AA993;

$content-title-color: #2AA993;
