/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/css/.sasscache
/public/css/.sass-cache
/storage/framework/views/*.php
**/.DS_Store
**/._.DS_Store
**/.vscode/
**/.vs
/public/phpmyadmin
