// Contains formatting for the header and navbar of each page.

@import "../helpers/color.scss";
@import "../helpers/animations.scss";


// Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button).
.show {
	display:block;
}

// Respectively: WebKit browsers, Mozilla Firefox 4 to 18, Mozilla Firefox 19+, Internet Explorer 10+.
::-webkit-input-placeholder :-moz-placeholder ::-moz-placeholder :-ms-input-placeholder { // Formats placeholder text. 
	color: white;
}


// MASTHEAD

.logoFull { // For svg.
	display: block;
	margin: auto;
	padding: 10px;
	width: 55%;
}


// NAVBAR

.navbar {
	@extend %navbar-gradient;
	ul {
		text-align: center;
		list-style-type: none;
		padding-left: 0;
		width: 100%;
		display: -webkit-flex;
		justify-content: center;
		display: flex;
		flex-direction: row;
		li {
			flex-grow: 2;
			flex-shrink: 0.7;
			margin: 0;
			padding: 0.3em;
			a, input { // Default behavior of navbar items.
				font-weight: bolder;
				color: white;
				display: block;
				text-decoration: none;
				text-align: center;
				font-size: 16px;
				padding: 0.35em;
				white-space: nowrap;
				border-radius: 0.1em;
				// My attempts to make the logout button behave follow. 
				border: none;
				margin: auto;
				&:hover {
					background-color: $navbar-hover-color;
					color: black;
					transition: all 0.15s;
				}

			}
		}

		#search {
			flex-grow: 30;
			flex-shrink: 1;
			padding: 0.2em 0;
			#search_form {
				-webkit-box-sizing: border-box; // For legacy WebKit based browsers.							/*possibly we don't need this*/
				-moz-box-sizing: border-box; 	// For legacy (Firefox <29) Gecko based browsers.
				box-sizing: border-box;
				#search_text {
					text-align: center;
					border-color: transparent;
					color: white;
					outline: none;
					background: $search-box-default-color;
					float: center;
					transition: all 0.15s;
					border-radius: 0.1em;
					width: 100%;
					resize: none;
					font-size: inherit;
					font-family: inherit;
					&:focus {
						color: black;
						background: $search-box-focus-color;
					}
				}
			}
		}

		#logIn { // This login button is an li.
			flex-grow: 1;
			flex-shrink: 0.5;
			position: relative;
		    display: inline-block;
		    padding: 0.3em;
		    #logInButton {
				background-color: $login-button-default-color;

				&:hover, &:focus {
					// background-color: $login-button-hover-color;
				}
			}
		}
	}
}


/* LOGIN DROPDOWN */



// Dropdown content (hidden by default).
#logInHidden { // Content box containing login form.
	padding: 5px;
	text-align: right;

	visibility: hidden; // The box should initially not be visible. 

    position: absolute;
    background-color: $login-dropdown-color;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 	// Stacks box on top of page.
    right: 0; 		// Right aligns login box.

	// animation: swing-in-top-bck 6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	// -moz-animation: swing-in-top-bck 6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; /* Firefox */
	// -webkit-animation: swing-in-top-bck 6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; /* Safari and Chrome */

	&.swing-in-top-bck { // Class for animating the entry of the login box. 
		visibility: visible;
		background-color: green;
		animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
		-moz-animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; /* Firefox */
		-webkit-animation: swing-in-top-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both; /* Safari and Chrome */
	}

    .linkDefault { // Reset behavior of links inside the dropdown (create account, forgot details).
	    color: $default-link;
	    padding-top: 2px;
	    padding-bottom: 2px;
	    text-decoration: none;
	    border-radius: 0;
	    background: none;
	    font-size: 12px;
	    font-weight: normal;
	    text-align: right;

		&:hover {
			color: $hover-link;
			background: none;
		}
	}

	#logInUser, #logInPwd {
		text-align: center;	
		border-color: transparent;
		color: white;
		outline: none;
		background: $search-box-default-color;	// Search box color (pre-focus).
		float: center;
		transition: all 0.15s;
		border-radius: 0.1em;
		resize: none;
		font-size: inherit;
		font-family: inherit;
	}

	#logInSub { // Style your submit button.
		text-align: right;
	    border: none;
	    color: white;
	    text-decoration: none;
	    text-align: center;
	    background: blue;
	}
}