// Sass file for the resource viewer. 

.temp-container { // For now. 
	background: blue;
	max-width: 800px;
}

.resource-background {
	background: red;
	margin: 10px auto; 	// Head/foot space; centers.
	max-width: 500px;	// Play with this value to figure out an appropriate max-width. 
}