// Sass file for the resource viewer. 

@import "../helpers/color.scss";


$student-color: purple;
$teacher-color: green;

.temp-container { // For now. 
	background: $content-bg-color;
	// max-width: 800px;
}

.resource-background {
	// background: red;
	padding: 10px; 	// External spacing.
}

#resource-name {
	font-size: 30px;
}

#author-name {
	align: inline;
}

.student {
	color: $student-color;
}

.teacher {
	color: $teacher-color;
}

.date {
	color: lighten($text-default, 50%);
	font-size: 12px;
}

.module {
	// TODO please style accordingly.
}