// Sass file for the resource viewer. 

@import "../helpers/color.scss";
@import "../helpers/fonts.scss";
//@import "https://fonts.googleapis.com/css?family=Poiret+One";
//@import "buttons";


$student-color: purple;
$teacher-color: green;
$purple: #9A68C7;
$blue: #3BA9E4;
$green: #75B343;
$orange: #FF6A42;
$off-wht: rgba(white,.4);

#resource-container { // For now. 
	background: $content-bg-color;
	max-width: 800px;
}

.resource-background {
	// background: red;
	padding: 20px; 	// External spacing.
}

#resource-name {
	font-size: 50px;
	font-weight: bold;
}

#author-name {
	align: inline;
}

.student {
	color: $student-color;
}

.teacher {
	color: $teacher-color;
}

.date {
	color: lighten($text-default, 50%);
	font-size: 12px;
	margin-top: 5px;
}

.module {
	// TODO please style accordingly.
	font-size: 20px; //change the font size of the resource
	padding: 10px;
}

.resource-divider{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 2px;
	background-color: black;
}

@mixin btn-theme($btn-color) {
	border-color: darken($btn-color, 20%);
	background-color: $btn-color;
	&:hover {
   background-color: darken($btn-color, 6%);
   box-shadow: 0 .125em $off-wht, inset 0 .063em $off-wht, inset 0 -.188em lighten($btn-color, 2%);
	}
	&:active {
   box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($btn-color, 40%), inset 0 .063em darken($btn-color, 20%),inset 0 -0.188em darken($btn-color, 20%); 
	}
 }

 @mixin trans($val...) {
	-webkit-transition: $val;
	-moz-transition: $val; 
	-o-transition: $val; 
	transition: $val; 
 }

 .purple {
	@include btn-theme($purple);
 }
 .blue {
	@include btn-theme($blue);
 }
 .green {
	@include btn-theme($green);
 }
 .orange {
	@include btn-theme($orange);
 }

%button {
    font-family: $body-font;
	display: inline-block;
	margin: 0rem; 
	margin-left: auto;
	margin-right: 5px;
	margin-top: 5px;
	padding: .5em .5em;
	border: .094em solid;
	border-radius: .625em;
	box-shadow: 0 .375em .313em -.313em rgba(black,.8), inset 0 .063em $off-wht, inset 0 -.188em rgba(black,.15);
	color: #FFF;
	display: flex;
	font: bold 1rem sans-serif;
	@include trans(0.2s ease-in-out); 
	text: {
		transform: uppercase;
		decoration: none;
		shadow: 0 .063em rgba(black,.3);
	}
  cursor:pointer;
}

#submit-button {
	@extend %button;
    background: rgba(black,.15);
	color: $text-invert;
	@include btn-theme($orange);
}

#new-content-button{
	@extend %button;
    background: rgba(black,.15);
	color: $text-invert;
	@include btn-theme($orange);
}

.cancel-button {
	@extend %button;
    background: $action-meh;
	color: $text-default;
	@include btn-theme($orange)
}

// TODO Maybe these stylings should be global? I don't know. 
h1 {
	font-size: 50px;
	font-weight: bold;
}

h2 {

}
