// Sass file for the resource viewer. 
@import "../helpers/color.scss";
@import "../helpers/fonts.scss";
//@import "https://fonts.googleapis.com/css?family=Poiret+One";
//@import "buttons";

$student-color: purple;
$teacher-color: green;
$purple: #9A68C7;
$blue: #3BA9E4;
$green: #75B343;
$orange: #FF6A42;
$off-wht: rgba(white,.4);

#resource-container {
	max-width: 800px;
	margin: 1rem auto;
}

* {
	box-sizing: border-box;
  }

/*********************************************************************************************************
**********************************************************************************************************
* 	
*   Grid Display for Resource Editor / Creator
*
**********************************************************************************************************
**********************************************************************************************************/
/**
* For resource editor/creator, the div elements are split into:
* 	.resource-background
*		.resource-head
*		#modules
* 		.buttons
* Similarily, the grid cells are split into these layers:
*	.resource-background
*		[resource-head]
*		[content-module]
*		[buttons]
*/
.resource-background {
	display: block;
	font-size: 1.5rem;
}

/*********************************************************************************************************
* 	
*   Grid Display: resource-head (for Resource Editor / Creator)
*
**********************************************************************************************************/

#resource-head {
	// grid-area: resource-head;
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: auto auto 1rem 5rem;
	grid-template-areas:
		"tip tip"
		"r-name r-name"
		"gap gap"
		"r-use r-use-selector";
	grid-column-gap: 1rem;
}


#resource-name {
	grid-area: r-name;
	font-size: 3rem;
	font-weight: bold;
    -moz-appearance: textfield-multiline;
	-webkit-appearance: textarea;
    min-height: 5rem;
	overflow: scroll;
	scrollbar-width: none;  // not showing scrollbar for firefox
	white-space: nowrap;
	padding-top: 1rem;
	padding-bottom: 1rem;
	// not showing scrollbar for chrome
	&::-webkit-scrollbar { 
		display: none; 
	} 
}


#resource-name:hover {
	background-color: #EAEAEA;
}


#resource-name-tip {
	grid-area: tip;
}


#resource-use-label{
	grid-area: r-use;
	align-self: center;
}

#resource-use-selector {
	grid-area: r-use-selector;
	align-self: center;
}


.resource-divider{
	grid-area: divider;
	padding: 0.1rem;
	background-color: #8a8a8a;
	margin-bottom: 0.5rem;
}

/*********************************************************************************************************
* 	
*   Grid Display: content-module (for Resource Editor / Creator)
*
**********************************************************************************************************/

#modules {
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: auto auto 2.5rem 1rem auto 1rem auto 1rem auto;
	grid-template-areas:
		"divider divider"
		"space c-name-tip"
		"c-name-label c-name"
		"gap2 gap2"
		"c-type c-type-selector"
		"gap3 gap3"
		"content-label content-label"
		"gap4 gap4"
		"tinymce tinymce";
	grid-column-gap: 1rem;
	margin-top: 1.5rem;
}

#content-name-label{
	grid-area: c-name-label;
	align-self: center;
}

.content-name {
	grid-area: c-name;
	align-self: center;
	font-size: 1.5rem;
    font-weight: bold;
    -moz-appearance: textfield-multiline;
	-webkit-appearance: textarea;
    min-height: 2rem;
	overflow: scroll;
	scrollbar-width: none;  // not showing scrollbar for firefox
	white-space: nowrap;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	// not showing scrollbar for chrome
	&::-webkit-scrollbar { 
		display: none; 
	} 
}

#content-name-tip{
	grid-area: c-name-tip;
}

#content-type-label {
	grid-area: c-type;
	align-self: center;
}

#content-type-selector {
	grid-area: c-type-selector;
	align-self: center;
}

#content-label {
	grid-area: content-label;
	align-self: center;
}

#content-input {
	grid-area: tinymce;
	align-self: center;
}


/*********************************************************************************************************
* 	
*   Grid Display: buttons (for Resource Editor / Creator)
*
**********************************************************************************************************/

#buttons {
	// grid-area: buttons;
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
		"warning warning"
		"error error"
		"space submit-button"
		"space cancel-button";
	grid-row-gap: 0.5rem;
	grid-column-gap: 1rem;
}

#labelProfPermission{
	font-size: 1.25rem;
}

#warning-msg{
	grid-area: warning;
}

#error-msg{
	grid-area: error;
}

/*********************************************************************************************************
**********************************************************************************************************
* 	
*   Grid Display for Resource viewer
*
**********************************************************************************************************
**********************************************************************************************************/
/**
* For resource editor/creator, the div elements are split into:
* 	.resource-background
*		#resource-head-display
*		#modules-display
*/

/*********************************************************************************************************
* 	
*   Grid Display: resource-head-display (for Resource Editor / Creator)
*
**********************************************************************************************************/
#resource-head-display {
	// grid-area: resource-head;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"r-name"
		"author";
	grid-row-gap: 1rem;
}

#resource-name-display {
	grid-area: r-name;
	font-size: 3rem;
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#author-info{
	grid-area: author;
	font-size: 1rem;
}

/*********************************************************************************************************
* 	
*   Grid Display: modules-display (for Resource Editor / Creator)
*
**********************************************************************************************************/
.module {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
		"content-title"
		"content-text"
		"created-date"
		"modified-date";
	grid-row-gap: 0.5rem;
}

.content-title{
	grid-area: content-title;
	align-self: center;
	min-height: 2rem;
	display: flex;
	align-items: center;
}

.content{
	grid-area: content-text;
}

#created-date{
	grid-area: created-date;
}

.content-name:hover {
	background-color: #EAEAEA;
}

.tooltip {
	visibility: hidden;
	width: 120px;
	background-color: rgb(172, 169, 169);
	color: black;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	justify-self: center;
}

#modified-date{
	grid-area: modified-date;

}

/*********************************************************************************************************
**********************************************************************************************************
* 	
*   Miscs
*
**********************************************************************************************************
**********************************************************************************************************/

.student {
	color: $student-color;
}

.teacher {
	color: $teacher-color;
}

.date {
	color: lighten($text-default, 50%);
	font-size: 12px;
	margin-top: 5px;
}


/*********************************************************************************************************
*
* 	Icons to open the resource editor from resource viewer
*
**********************************************************************************************************/

#open-resource-editor{
	color: $text-light;
    float: left;
    font-size: 25px;
    font-weight: bold;
}

#open-resource-editor:hover,
#open-resource-editor:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*********************************************************************************************************
*
* 		Buttons
*
**********************************************************************************************************/

@mixin btn-theme($btn-color) {
	border-color: darken($btn-color, 20%);
	background-color: $btn-color;
	&:hover {
		background-color: darken($btn-color, 6%);
		box-shadow: 0 .125em $off-wht, inset 0 .063em $off-wht, inset 0 -.188em lighten($btn-color, 2%);
	}
	&:active {
		box-shadow: 0 .063em $off-wht, inset 0 0 1.094em darken($btn-color, 40%), inset 0 .063em darken($btn-color, 20%),inset 0 -0.188em darken($btn-color, 20%); 
	}
 }

 @mixin trans($val...) {
	-webkit-transition: $val;
	-moz-transition: $val; 
	-o-transition: $val; 
	transition: $val; 
 }

 .purple {
	@include btn-theme($purple);
 }
 .blue {
	@include btn-theme($blue);
 }
 .green {
	@include btn-theme($green);
 }
 .orange {
	@include btn-theme($orange);
 }

// submit and new content button aligned right
%button {
    font-family: $body-font;
	display: inline-block;
	margin-left: auto;
	padding: .5em .5em;
	border: .094em solid;
	border-radius: .625em;
	box-shadow: 0 .375em .313em -.313em rgba(black,.8), inset 0 .063em $off-wht, inset 0 -.188em rgba(black,.15);
	color: #FFF;
	display: flex;
	font: bold 1rem $main-font;
	@include trans(0.2s ease-in-out); 
	text: {
		transform: uppercase;
		decoration: none;
		shadow: 0 .063em rgba(black,.3);
	}
  	cursor:pointer;
}

#submit-button {
	@extend %button;
    background: rgba(black,.15);
	color: $text-invert;
	@include btn-theme(#50529e);
	grid-area: submit-button;
}

#new-content-button{
	@extend %button;
    background: rgba(black,.15);
	color: $text-invert;
	@include btn-theme(#50529e);
}

#cancel-button {
	@extend %button;
    background: rgba(black,.15);
	color: $text-invert;
	@include btn-theme(#50529e);
	grid-area: cancel-button;
}

/*********************************************************************************************************
*
* 	Resource Use, Content Type Selector Styles
*
**********************************************************************************************************/

$wrapper-height: 60px;
// style the resource use selector
.use-list-scrolling-wrapper{
	height: $wrapper-height;
  	width: 60%;
 	-webkit-overflow-scrolling: touch;
  	&::-webkit-scrollbar {
    	display: none;
	}

	overflow-x: scroll;
  	overflow-y: hidden;
  	white-space: nowrap;

  	.use, .type{
    	display: inline-block;
	}
}

ul#resource-use-selector, ul#content-type-selector{
	font-family: $main-font;
	height: 4rem;
	display: flex;
	overflow: scroll;
	scrollbar-width: none;  // not showing scrollbar for firefox
	// not showing scrollbar for chrome
	&::-webkit-scrollbar { 
		display: none; 
	} 

	li {
		display: inline-block;
		background-color: #dadada;
		margin: 0 0.25rem;
		flex: 1 0 auto;
	}

	li label {
		display: flex;
		height: 100%;
		padding: 0.5rem 0.5rem;
		color: black;
		text-decoration: none;
		align-items: center;
		justify-content: center;
		transition: 0.2s;
	}

	li:hover, li input:checked + li {
		background-color: #6D7993;
		transition: 0.3s;
	}

	li input:checked + label {
		background-color:rgb(119, 156, 241);
	}

	li input {
		display: none;
	}
}


/*********************************************************************************************************
*
* 	Redefine tags for basic styling
*   	Somehow these tags get overwritten (maybe due to CSS inheritence)
*
**********************************************************************************************************/

strong {
	font-weight: bold; 
  }
  
em {
font-style: italic;
}

// TODO Maybe these stylings should be global? I don't know. 
h1 {
	// font-size: 50px;
	// font-weight: bold;
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h4 {
	display: block;
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h5 {
	display: block;
	font-size: .83em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h6 {
	display: block;
	font-size: .67em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

code {
	background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
	overflow: auto;
	margin: 1.5em 10px;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
