@import url(https://fonts.googleapis.com/css?family=Anton|Carter+One|Contrail+One|Do+Hyeon|Gugi|Jua|Paytone+One|Righteous|Titan+One|Cinzel|Cinzel+Decorative|Space+Mono|Roboto+Mono);@import url(https://fonts.googleapis.com/css?family=Open+Sans);@import url(https://fonts.googleapis.com/css?family=Chela+One|Fredoka+One);@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);/* Contains formatting for the homepage content. */

#main {
  text-align: center;
}

.elementBoxTwo {
  /* We are assuming 2 element boxes next to each other. Currently not responsive for more. */
  display: inline-block;
  width: 40%;
  /* Leave room for Jesus, and marginy border stuff. */
  margin: 3%;
  vertical-align: top;
  /* Properties of the element box. */
  border: 3px;
  border-color: purple;
  border-style: solid;
}

.boxTitle {
  /* Possibly you might make boxtitle font size respond to how much text there is? */
  font-family: "Cinzel", cursive;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px;
  padding: 3px;
  height: 40px;
  /* Space for two lines of text. Expand if necessary. */
  background-color: purple;
}

.boxText {
  /* Only for text content of elementboxes. */
  font-size: 16px;
  color: black;
  text-align: left;
  padding: 2%;
}

@media (max-width: 900px) {
  /* This makes the second content box drop below the first one. */

  #main {
    /* Safari */
    /* Safari 6.1+ */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .elementBoxTwo {
    display: default;
    width: 90%;
  }
}

