.resource-background {
  padding: 20px;
}

#resource-name {
  font-size: 30px;
}

#author-name {
  align: inline;
}

.student {
  color: purple;
}

.teacher {
  color: green;
}

.date {
  color: white;
  font-size: 12px;
}

.module {
  padding: 10px;
}

