@import url(https://fonts.googleapis.com/css?family=Open+Sans);@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);@charset "UTF-8";

#resource-container {
  max-width: 800px;
  margin: 1rem auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*********************************************************************************************************
**********************************************************************************************************
* 	
*   Grid Display for Resource Editor / Creator
*
**********************************************************************************************************
**********************************************************************************************************/

/**
* For resource editor/creator, the div elements are split into:
* 	.resource-background
*		.resource-head
*		#modules
* 		.buttons
* Similarily, the grid cells are split into these layers:
*	.resource-background
*		[resource-head]
*		[content-module]
*		[buttons]
*/

.resource-background {
  display: block;
  font-size: 1.5rem;
}

/*********************************************************************************************************
* 	
*   Grid Display: resource-head (for Resource Editor / Creator)
*
**********************************************************************************************************/

#resource-head {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto 5rem;
  grid-template-areas: "r-name r-name" "r-use r-use-selector";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

#resource-name {
  grid-area: r-name;
  font-size: 3rem;
  font-weight: bold;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  min-height: 5rem;
  overflow: scroll;
  scrollbar-width: none;
  white-space: nowrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#resource-name::-webkit-scrollbar {
  display: none;
}

#resource-use-label {
  grid-area: r-use;
  -ms-flex-item-align: center;
      align-self: center;
}

#resource-use-selector {
  grid-area: r-use-selector;
  -ms-flex-item-align: center;
      align-self: center;
}

.resource-divider {
  grid-area: divider;
  padding: 0.1rem;
  background-color: #8a8a8a;
  margin-bottom: 0.5rem;
}

/*********************************************************************************************************
* 	
*   Grid Display: content-module (for Resource Editor / Creator)
*
**********************************************************************************************************/

#modules {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto auto 5rem auto auto;
  grid-template-areas: "divider divider" "c-name-label c-name" "c-type c-type-selector" "content-label content-label" "tinymce tinymce";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

#content-name-label {
  grid-area: c-name-label;
  -ms-flex-item-align: center;
      align-self: center;
}

.content-name {
  grid-area: c-name;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  min-height: 2rem;
  overflow: scroll;
  scrollbar-width: none;
  white-space: nowrap;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content-name::-webkit-scrollbar {
  display: none;
}

#content-type-label {
  grid-area: c-type;
  -ms-flex-item-align: center;
      align-self: center;
}

#content-type-selector {
  grid-area: c-type-selector;
  -ms-flex-item-align: center;
      align-self: center;
}

#content-label {
  grid-area: content-label;
  -ms-flex-item-align: center;
      align-self: center;
}

#content-input {
  grid-area: tinymce;
  -ms-flex-item-align: center;
      align-self: center;
}

/*********************************************************************************************************
* 	
*   Grid Display: buttons (for Resource Editor / Creator)
*
**********************************************************************************************************/

#buttons {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto auto;
  grid-template-areas: "space submit-button" "space cancel-button";
  grid-row-gap: 0.5rem;
  grid-column-gap: 1rem;
}

/*********************************************************************************************************
**********************************************************************************************************
* 	
*   Grid Display for Resource viewer
*
**********************************************************************************************************
**********************************************************************************************************/

/**
* For resource editor/creator, the div elements are split into:
* 	.resource-background
*		#resource-head-display
*		#modules-display
*/

/*********************************************************************************************************
* 	
*   Grid Display: resource-head-display (for Resource Editor / Creator)
*
**********************************************************************************************************/

#resource-head-display {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "r-name" "author";
  grid-row-gap: 1rem;
}

#resource-name-display {
  grid-area: r-name;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#author-info {
  grid-area: author;
  font-size: 1rem;
}

/*********************************************************************************************************
* 	
*   Grid Display: modules-display (for Resource Editor / Creator)
*
**********************************************************************************************************/

.module {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "content-title" "content-text" "created-date" "modified-date";
  grid-row-gap: 0.5rem;
}

.content-title {
  grid-area: content-title;
  -ms-flex-item-align: center;
      align-self: center;
  min-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  grid-area: content-text;
}

#created-date {
  grid-area: created-date;
}

#modified-date {
  grid-area: modified-date;
}

/*********************************************************************************************************
**********************************************************************************************************
* 	
*   Miscs
*
**********************************************************************************************************
**********************************************************************************************************/

.student {
  color: purple;
}

.teacher {
  color: green;
}

.date {
  color: #807f7f;
  font-size: 12px;
  margin-top: 5px;
}

/*********************************************************************************************************
*
* 	Icons to open the resource editor from resource viewer
*
**********************************************************************************************************/

#open-resource-editor {
  color: #aaa;
  float: left;
  font-size: 25px;
  font-weight: bold;
}

#open-resource-editor:hover,
#open-resource-editor:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*********************************************************************************************************
*
* 		Buttons
*
**********************************************************************************************************/

.purple {
  border-color: #673693;
  background-color: #9A68C7;
}

.purple:hover {
  background-color: #8b52bf;
  -webkit-box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #9f6fca;
          box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #9f6fca;
}

.purple:active {
  -webkit-box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #331b48, inset 0 0.063em #673693, inset 0 -0.188em #673693;
          box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #331b48, inset 0 0.063em #673693, inset 0 -0.188em #673693;
}

.blue {
  border-color: #1672a3;
  background-color: #3BA9E4;
}

.blue:hover {
  background-color: #209de0;
  -webkit-box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #44ade5;
          box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #44ade5;
}

.blue:active {
  -webkit-box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0a3349, inset 0 0.063em #1672a3, inset 0 -0.188em #1672a3;
          box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0a3349, inset 0 0.063em #1672a3, inset 0 -0.188em #1672a3;
}

.green {
  border-color: #446927;
  background-color: #75B343;
}

.green:hover {
  background-color: #669d3b;
  -webkit-box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #7aba46;
          box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #7aba46;
}

.green:active {
  -webkit-box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #141f0b, inset 0 0.063em #446927, inset 0 -0.188em #446927;
          box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #141f0b, inset 0 0.063em #446927, inset 0 -0.188em #446927;
}

.orange {
  border-color: #db2e00;
  background-color: #FF6A42;
}

.orange:hover {
  background-color: #ff5223;
  -webkit-box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #ff724c;
          box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #ff724c;
}

.orange:active {
  -webkit-box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #751900, inset 0 0.063em #db2e00, inset 0 -0.188em #db2e00;
          box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #751900, inset 0 0.063em #db2e00, inset 0 -0.188em #db2e00;
}

#submit-button,
#new-content-button,
#cancel-button {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  margin-left: auto;
  padding: .5em .5em;
  border: .094em solid;
  border-radius: .625em;
  -webkit-box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: bold 1rem "Open Sans", sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#submit-button {
  background: rgba(0, 0, 0, 0.15);
  color: white;
  border-color: #2e2f5a;
  background-color: #50529e;
  grid-area: submit-button;
}

#submit-button:hover {
  background-color: #46478a;
  -webkit-box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #5356a5;
          box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #5356a5;
}

#submit-button:active {
  -webkit-box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0b0c17, inset 0 0.063em #2e2f5a, inset 0 -0.188em #2e2f5a;
          box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0b0c17, inset 0 0.063em #2e2f5a, inset 0 -0.188em #2e2f5a;
}

#new-content-button {
  background: rgba(0, 0, 0, 0.15);
  color: white;
  border-color: #2e2f5a;
  background-color: #50529e;
}

#new-content-button:hover {
  background-color: #46478a;
  -webkit-box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #5356a5;
          box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #5356a5;
}

#new-content-button:active {
  -webkit-box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0b0c17, inset 0 0.063em #2e2f5a, inset 0 -0.188em #2e2f5a;
          box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0b0c17, inset 0 0.063em #2e2f5a, inset 0 -0.188em #2e2f5a;
}

#cancel-button {
  background: rgba(0, 0, 0, 0.15);
  color: white;
  border-color: #2e2f5a;
  background-color: #50529e;
  grid-area: cancel-button;
}

#cancel-button:hover {
  background-color: #46478a;
  -webkit-box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #5356a5;
          box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #5356a5;
}

#cancel-button:active {
  -webkit-box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0b0c17, inset 0 0.063em #2e2f5a, inset 0 -0.188em #2e2f5a;
          box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #0b0c17, inset 0 0.063em #2e2f5a, inset 0 -0.188em #2e2f5a;
}

/*********************************************************************************************************
*
* 	Resource Use, Content Type Selector Styles
*
**********************************************************************************************************/

.use-list-scrolling-wrapper {
  height: 60px;
  width: 60%;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.use-list-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.use-list-scrolling-wrapper .use,
.use-list-scrolling-wrapper .type {
  display: inline-block;
}

ul#resource-use-selector,
ul#content-type-selector {
  font-family: "Open Sans", sans-serif;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
}

ul#resource-use-selector::-webkit-scrollbar,
ul#content-type-selector::-webkit-scrollbar {
  display: none;
}

ul#resource-use-selector li,
ul#content-type-selector li {
  display: inline-block;
  background-color: #dadada;
  margin: 0 0.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

ul#resource-use-selector li label,
ul#content-type-selector li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0.5rem 0.5rem;
  color: black;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

ul#resource-use-selector li:hover,
ul#resource-use-selector li input:checked + li,
ul#content-type-selector li:hover,
ul#content-type-selector li input:checked + li {
  background-color: #6D7993;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul#resource-use-selector li input:checked + label,
ul#content-type-selector li input:checked + label {
  background-color: #779cf1;
}

ul#resource-use-selector li input,
ul#content-type-selector li input {
  display: none;
}

/*********************************************************************************************************
*
* 	Redefine tags for basic styling
*   	Somehow these tags get overwritten (maybe due to CSS inheritence)
*
**********************************************************************************************************/

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  margin: 1.5em 10px;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

