.resource-background {
  padding: 20px;
}

#resource-name {
  font-size: 50px;
  font-weight: bold;
}

#author-name {
  align: inline;
}

.student {
  color: purple;
}

.teacher {
  color: green;
}

.date {
  color: #807f7f;
  font-size: 12px;
}

.module {
  font-size: 25px;
  padding: 10px;
}

