.temp-container {
  background: rgba(133, 133, 133, 0.3);
}

.resource-background {
  padding: 10px;
}

#resource-name {
  font-size: 30px;
}

#author-name {
  align: inline;
}

.student {
  color: purple;
}

.teacher {
  color: green;
}

.date {
  color: #807f7f;
  font-size: 12px;
}

.module {
  border: 6px black;
  padding: 10px;
}

