svg.tree {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link,
.link-deleted {
  display: none;
}

#topic-tree {
  width: 100%;
  height: 600px;
}

.tree {
  width: 100%;
  height: 100%;
  overflow: none;
}

.node text 
{
	dominant-baseline: central;
}