// Contains colors and gradient definitions. 

// Import a color scheme. 
// @import "./original.scss";
//@import "./umbrella.scss";
@import "./bold.scss";

// NAVBAR

%navbar-gradient {
	background: $primary-0; 									// For browsers that do not support gradients.
	background: -webkit-linear-gradient($primary-0-light, $primary-0); 	// For Safari 5.1 to 6.0.
	background: -o-linear-gradient($primary-0-light, $primary-0);		// For Opera 11.1 to 12.0.
	background: -moz-linear-gradient($primary-0-light, $primary-0); 	// For Firefox 3.6 to 15.
	background: linear-gradient($primary-0-light, $primary-0);			// Standard syntax.
}

$navbar-text-color: $text-invert;
$navbar-text-hover-color: $text-default;
$navbar-hover-color: $accent-0;

$login-button-color: $accent-0;
$login-button-hover-color: $accent-1;

$search-box-text-color: $text-invert;
$search-box-bg-color: $input-minimal;
$search-box-text-focus-color: $text-default;
$search-box-bg-focus-color: $text-invert;

$login-dropdown-color: $bg-light;


// CONTENT

$content-bg-light: $bg-light;

$content-title-color: $accent-2;
$content-border-color: $accent-2;

$content-bg-color: hsla(360, 0%, 52%, 0.3);