@import url('https://fonts.googleapis.com/css?family=Anton|Carter+One|Contrail+One|Do+Hyeon|Gugi|Jua|Paytone+One|Righteous|Titan+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


$body-font: 'Open Sans', sans-serif;

$main-font-family-0: 'Titan One', cursive; // meh a little blocky
$main-font-family-1: 'Do Hyeon', sans-serif; // GROSS
$main-font-family-2: 'Anton', sans-serif; // EW
$main-font-family-3: 'Gugi', cursive; // not bad
$main-font-family-4: 'Righteous', cursive; // looks gross bold tbh
$main-font-family-5: 'Jua', sans-serif; // are you in KINDERGARTEN? no
$main-font-family-6: 'Contrail One', cursive; // you weird and italic bro
$main-font-family-7: 'Paytone One', sans-serif; // this is a little young looking
$main-font-family-8: 'Carter One', cursive; // um okay