@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// FontAwesome
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

// Define a bunch of fonts to choose from. 
$body-font: 'Open Sans', sans-serif;
$body-font-size: 14px;
$body-transform: normal;

$main-font: $body-font;
$main-font-size: 20px;
$main-transform: lowercase;

$font-awesome: 'FontAwesome'