// No gradient on the navbar, which I maybe maybe like. 
// A little too much of the same color family for my taste. Looks a bit like a little boy's room. 

$text-default: black;
$text-invert: white;
$text-light: #aaa;

$primary-0: #00167a;
$primary-0-light: #003180;

$accent-0: #0044b3;
$accent-1: #EAAA00;

$input-minimal: #C8C8FF;

$bg-light: #fefefe;

$accent-2: #2AA993;

$link-default: blue;
$link-hover: red;
