// Original color scheme. 
// The OG, before I started playing around with colors. 
// Majority dark blue, accent mint, on light ground. Dark text. 

$ground: white;

$text-default: black;
$text-invert: white;
$text-light: #aaa;

$primary-0: #00167a;
$primary-0-light: #003180;

$accent-0: #0044b3;
$accent-1: #EAAA00;

$input-minimal: #C8C8FF;

$bg-light: #fefefe;

$accent-2: #2AA993;

$link-default: blue;
$link-hover: red;
