// Umbrella color scheme. 
// Light ground, dark text; blue, mint, salmon accent. 

$ground: white;

$text-default: black;
$text-invert: white;
$text-light: #aaa;

$primary-0: #33658A;
$primary-0-light: #348AA7;

$accent-0: #5DD39E;
$accent-1: #BCE784; // Optional; mouseover login?
$accent-2: #F46036; // Content boxes

$input-minimal: lighten($primary-0-light, 40%);

$bg-light: #fefefe;

$link-default: $primary-0;
$link-hover: $accent-2;
