// Contains default formatting for every page (fonts, etc.)

@import "cleanup/reset.scss"; 
@import "components/_header.scss";
@import "helpers/color.scss";
@import "helpers/fonts.scss";

html {
	font-family: $body-font;
}

#pageWidth { // Limits width of page.
	width: 80%;
	margin: auto;
	max-width: 1200px;
}

#main {
	background-color: $content-bg-color;
	font-size: 16px;
	width: 100%;
}


// CUSTOM CHECKBOXES (source: https://codepen.io/jamesbarnett/pen/yILjk)

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: $font-awesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.fancy-checkbox input[type="checkbox"] {
    display: none;
}
 
.fancy-checkbox span:before {
    font-family: $font-awesome;
    font-style: normal;
    width: 1em;
    height: 1em;
    content: '\f10c';
    margin-right: .3em;
}
 
.fancy-checkbox input[type="checkbox"]:checked ~ span:before {
    content: '\f05d';
}


// MOBILE COMPATIBILITY

@media (max-width: 900px) {
	// Make the navbar start zooming as expected.
	#pageWidth {
		width: 720px;
	}
}