// Contains default formatting for every page (fonts, etc.)

@import "cleanup/reset.scss"; 
@import "components/_header.scss";
@import "helpers/color.scss";
@import "helpers/fonts.scss";

html {
	font-family: $body-font;
}

#pageWidth { // Limits width of page.
	width: 80%;
	margin: auto;
	max-width: 1200px;
}

#main {
	background-color: $content-bg-color;
	font-size: 16px;
	width: 100%;
}


// CUSTOM CHECKBOXES (source: https://codepen.io/jamesbarnett/pen/yILjk)

/* to hide the checkbox itself */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  font-family: "FontAwesome";
}


/* unchecked icon */
input[type=checkbox] + label:before {
  content: "\F0C8";
}

/* checked icon */
input[type=checkbox]:checked + label:before {
  content: "\F14A";
}



// MOBILE COMPATIBILITY

@media (max-width: 900px) {
	// Make the navbar start zooming as expected.
	#pageWidth {
		width: 720px;
	}
}