html {
	font-family: 'Open Sans', sans-serif;
	--navheight:60px;
}


/*MASTHEAD*/

.logos { /*alignment of logos*/
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* Code snippet stolen from a comment here:
    http://stackoverflow.com/questions/114543/horizontally-center-a-div-in-a-div
    */

	/*read up on flexbox if you want: 
	https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	*/
}

.logos > img { /*set height of header images; currently arbitrary as heck*/
	height: 90px;
}

.logos > * {
	margin: 12px; /*we can make this more dynamic and less arbitrary later*/
}

.titletext { /*set font of Study Cloud at top of page*/
	font-family: 'Fredericka the Great', cursive;
	font-weight: normal;
	font-size: 60px;
}


/*NAVBAR*/

.navbar {
    background: blue; /*change to a gradient later*/
    height: var(--navheight);
    display: inline-block;
}

.navbar li { /*indicating some vaguely grandparental but not necessarily parental relationship*/
	float: left;
    list-style-type: none; /*remove bullet points on nav items*/
    position: relative;
}

.navbar li a {
    font-size: 16px;
    font-weight: bolder;
    color: white;
    display: block;
    line-height: var(--navheight)/2;
    padding: 0 26px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #2e2e2e;
}