/* Contains formatting for the header and navbar of each page and default formatting for the rest of the pages (fonts, etc.). */

html {
	font-family: 'Open Sans', sans-serif;
}

#pageWidth { /* Limits width of page. */
	width: 80%;
	margin: auto;
}


/* MASTHEAD */

.logoFull { /* for svg */
	display: block;
	margin: auto;
	padding: 10px;
	width: 80%;
}


/* NAVBAR */

.navbar {																						/* GRADIENTSSSSS */
	background: #05031A; 									/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#111338, #05031A); 	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#111338, #05031A); 		/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#111338, #05031A); 	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#111338, #05031A); 			/* Standard syntax */
}

.navbar ul { /* here is where you fix the navbar items */
	text-align: center;
	list-style-type: none;
	padding-left: 0;
	width: 100%;
	display: -webkit-flex;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.navbar li {
	/* background-color: blue; */
	flex-grow: 2;
	flex-shrink: 0.7;
	margin: 0;
	padding: 0.2em;
}

.navbar li a { /* default behavior of navbar items */
	font-weight: bolder;
	color: white;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	padding: 0.35em;
	white-space: nowrap;
	border-radius: 0.1em;
	baseline-shift: 
}

.navbar li a:hover {
	background-color: #29763D;
	color: black;
	transition: all 0.15s;
}

#logIn { /* this an li */
	flex-grow: 1;
	flex-shrink: 0.5;
}

#logIn a {
	background-color: #29763D;
}

#logIn a:hover {
	background: #5A328F; 									/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#45266d, #5A328F); 	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#45266d, #5A328F); 		/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#45266d, #5A328F); 	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#45266d, #5A328F); 			/* Standard syntax */
}

/* SEARCH BAR (inside navbar) */

#search {
	flex-grow: 30;
	flex-shrink: 1;
}

#search_form { /* inherits from search */
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */							/*possibly we don't need this*/
	-moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
	box-sizing: border-box;
}

#search_text{ /* inherits from search_form */
	text-align: center;
	border-color: transparent;
	color: white;
	outline: none;
	background: #2e1e43;	/* search box color (pre-focus) */
	float: center;
	transition: all 0.15s;
	border-radius: 0.1em;
	width: 100%;
	resize: none;
	font-size: inherit;
	font-family: inherit;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: white;
}

#search_text:focus {
	color: black;
	background: white;
}


/* MOBILE COMPATIBILITY */

@media (max-width: 900px) {
	/* Make the navbar stop zooming. */
	#pageWidth {
		width: 720px;
	}
	/* signal for I am on mobile! */
	.navbar {
		background: blue;
	}
}


/* DEFAULT CONTENT */
#main {
	background-color: hsla(360, 0%, 52%, 0.3);
	font-size: 16px;
}