#main {
	text-align: center;
}

.elementBoxTwo { /*We are assuming 2 element boxes next to each other. There's extra space*/
	display: inline-block;

	width: 40%;
	margin: 3%;
	vertical-align: top;

	/*borderyness*/
	border: 0.5vh;
	border-color: #C24633;  											/*Change this color.*/
	border-style: solid;
}

.boxTitle { /*Possibly you might make boxtitle font size respond to how much text there is?*/
	font-size: 4vh;
	font-color: white;
	font-weight: bold;
	text-align: center;
	
	display: flex;
  	align-items: center;
  	justify-content: center;

	border: 0.5vh;
	padding: 2vh;
	height: 8vh; /*Space for two lines of text. Expand if necessary.*/

	background-color: #C24633;
}

.boxText { /*Only for text content of elementboxes.*/
	font-size: 3.5vh;
	font-color: black;
	text-align: left;

	padding: 2%;
}